{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h3>待付款订单列表</h3>
    {% for order in orders %}
    <ul>
        <!--订单信息展示-->
            <li>
                <a href="">
                    <p><!-- 订单id --></p>
                    <a href="{% url 'app:wait_pay_to_payed' %}?order_id={{ order.id }}">{{ order.o_num }}</a>
                    <p><!-- 数量 --></p>
                    {% for order_goods in order.ordergoodsmodel_set.all %}
                        <!--展示商品的名称-->
                        <li>
                            <img src="{{ order_goods.goods.productimg }}" alt="">
                        </li>
                        <!--处理结束-->
                    {% endfor %}
                </a>
            </li>
        <div style="height: 10px; width: 100%; border:5px solid red;"></div>
        <!--订单处理结束-->
        {% endfor %}


    </ul>


{% endblock %}
